@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfdfd;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}
.slide-to-up {
  animation: slideToUp 0.2s ease-in-out forwards;
}

@keyframes slideToUp {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
